<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <connectionStrings> <!--이부분 추가!-->
    <add name="myDB" connectionString="Data source=localhost\SQLExpress; Initial catalog=myDB; User ID=sa; Password=1234" providerName="System.Data.SqlClient"/> <!--DB접근(경로와 아이디, 비밀번호) 문장-->
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
    
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authentication mode="Forms">
        <forms loginUrl="myLogin.aspx" defaultUrl="Home.aspx" timeout="30"></forms>
        <!--loginUrl : 자동으로 myLogin페이지로 이동 
        defaultUrl : 유저가 요청한 페이지가 없을 경우 Home으로 보냄
        로그인 후 30초동안 아무런 이벤트 발생하지 않을 시 자동으로 로그아웃-->
      </authentication>
      <authorization>
        <allow users="*"/> <!--로그인을 사용한 사람은 모두 허용 / 특정 id입력하면 그 id만 허용-->
      </authorization>
    </system.web>

  <location path="MemberOnly"> <!--Location은 여러개가 생길 수 있음, 권한 제어를 할 폴더나 파일 이름 넣을 것 -->
    <system.web>
      <authorization>
        <deny users="?"/> <!--? : 멤버가 아닌사람은 접속 불허--> <!--* : 모든사용자 접근 허용-->
      </authorization>
    </system.web>
  </location>

</configuration>
